.buttonView{
    text-align: right;
}

// #cancelButton{
//     align-self: left;
//     margin-left: 2%;
// }

#submitButton{
    // float: right;
    margin-right: 2%;
}

#textArea{
    margin:0 auto;
    width: 96%;
}

.spilt{
    height: 10px;
}