.userinfo{
    height: 300px;
    background: white;
    // justify-content: center;
    // align-items: center;
    // display: flex;
    border-bottom: 3px solid #dedede;
    .avatar{
      width: 140px;
      height: 140px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      
    }
    .nickname{
      text-align: center;
      font-size: 30px;
      color: #333333;
      margin-bottom: 20px;
    }
    .checked {
      border-color: #800080;
      color: #800080;
    }
    .unchecked{
      border-color: #8dc63f;
      color: #8dc63f;
    }

  }

.option-box{
    
    
    .user-option{
        text-align: center;
        font-size: 28px;
        color:#999;
        padding-left: 8%;
        line-height: 90px;
        font-family: Courier;
    }

    
}